.usingmodal {
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
}

/* 왼쪽 사이드에 고정된 패널 스타일 */
.usingmodal-content {
  position: fixed;
  top: 100px;           /* 원하는 여백만큼 위에서 띄우기 (예: 100px) */
  left: 70px;           /* 왼쪽 고정 */
  background-color: #2C3E50;
  padding: 20px;
  width: 400px;
  height: calc(100vh - 100px); /* 전체 높이에서 top 만큼 빼기 */
  overflow-y: auto;     /* 스크롤 가능하도록 */
}
.usinglistth{
  background-color: black;
}
.user-list-container{
  width: 100%;
}

.user-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

.user-table th,
.user-table td {
  padding: 10px;
  border-bottom: 1px solid #ddd;
  text-align: center;
}

/* 닫기 버튼(X) */
.usingclose {
  color: #ccc;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
  background: none;
  border: none;
  position: absolute;
  top: 10px;
  right: 10px;
}

/* 검색창 스타일 */
.using-search-box {
  position: relative;
  width: 80%;
}

.using-search-box input[type="text"] {
  width: 80%;
  font-size: 14px;
  border: none;
  border-radius: 2px;
  box-sizing: border-box;
}

.using-search-box button {
  position: absolute;
  left: calc(73%); /* input의 80% 너비 + 간격 */
  top: 50%;
  transform: translateY(-50%);
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.using-search-box button img {
  width: 16px;
  height: 16px;
}


