 
  .seatDashboard {
    z-index: 10;
    position: absolute;
    top: 30px;
    left: 350px;
    /* display: flex;
    flex-direction: row;
    gap: 30px; */
    background-color: #1a1a1a;
    width: calc(100vw - 800px);
    height: calc(100vh - 250px);
  }
  .selectseatheader{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .title{
    font-size: 24px;
    font-weight: bold;
    color: white;
    padding: 0 16px;
  }
  .closeButton{
    background: none;
    border: none;
    color: white;
    font-size: 30px;
    cursor: pointer;
    padding: 0 16px;
  }
  .selectSeatButton{
    position: absolute;
    bottom: 5px;
    left: 5px;
    background-color: #5D6D7E;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 10px;
  }

  .rowContainer {
    box-sizing: border-box;
    margin-top: 30px;
    margin-left: 30px;
    width: 75%;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  /* ✅ 6개씩 한 줄 */
  .seatRow.row-6 {
    display: grid;
    grid-template-columns: repeat(6, 130px);
    gap: 10px;
    justify-content: start;
  }

  /* ✅ 5개씩 한 줄 */
  .seatRow.row-5 {
    display: grid;
    grid-template-columns: repeat(5, 130px);
    gap: 10px;
    justify-content: start;
  }

  #middle-seats {
    margin-top: 65px;
  }

  #bottom-seats {
    margin-top: 65px;
  }

  .seat {
    position: relative;
    box-sizing: border-box;
    height: 90px;
    width: 130px;
    border-radius: 3px;
    padding: 4px;
    font-size: 17px;
  }

  .seatNumber {
    position: absolute;
    top: 6px;
    left: 8px;
    display: flex;
    justify-content: flex-start;
    gap: 3px;
    font-weight: bold;
    font-size: 14px;
  }

  .memberName {
    position: absolute;
    top: 4px;
    right: 6px;
    font-weight: bold;
    color: #333;
    font-size: 13px;
  }

  .in-use-green .memberName {
    color: black;
  }

  .in-use-red .member-name {
    color: white;
  }

  .timeLeft {
    position: absolute;
    top: 27px;
    right: 6px;
    color: #666;
    font-size: 13px;
  }

  .in-use-green .timeLeft {
    color: black;
  }

  .in-use-red .timeLeft {
    color: white;
  }

  .broken-label {
    font-size: 17px;
  }
  .in-use-green { background-color: #27ae60; color: black; }
  .in-use-red { background-color: #e74c3c; color: white; }
  .available { background-color: #ffffff; color: black; }
  .broken { background-color: #f1c40f; color: black; }
  .cleaning {
    background-color: #ffffff;
    border: 2px solid #ccc;
    position: relative;
  }
  /* .clear-btn {
    position: absolute;
    bottom: 5px;
    right: 5px;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
  } */

  .counter {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: 111px;
    height: 311px;
    background-color: white;
    font-size: 30px;
    justify-content: center;
    align-items: center;
    display: flex;
  }

  .trashIcon {
    width: 45px;
    height: 50px;
    position: absolute;
    bottom: 5px;
    right: 5px;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
    padding: 0px
  }

  /* 스크롤 디자인 */
  .seatScrollArea {
    overflow: auto;
    scrollbar-width: thin;           /* Firefox */
    scrollbar-color: #888 #222;      /* Firefox */
    background: #1a1a1a;
    border-radius: 8px;
}

/* Chrome, Edge, Safari */
.seatScrollArea::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
.seatScrollArea::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 8px;
}
.seatScrollArea::-webkit-scrollbar-track {
    background: #222;
    border-radius: 8px;
}