* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  background-color: #233142;
  display: flex;
  align-items: flex-end;
  height: 100px;
}

/* 좌석 숫자 그리드 */
.seat-con-used,
.seat-con-all {
  display: flex;
}

/* 2번째, 3번째만 border-left 제거 */
.seat-con-used .seat-cell:nth-child(2),
.seat-con-used .seat-cell:nth-child(3) {
  border-left: none;
}

.seat-con-all .seat-cell:nth-child(2),
.seat-con-all .seat-cell:nth-child(3) {
  border-left: none;
}
.seat-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1px;
  padding-right: 1px;
}

.seat-title {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F4D03F;
  padding: 6px 0;
  font-size: 20px;
  text-align: center;
  width: 100%;
  height: 30px;
}

.seat-info {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 3px;
  height: 68px;

}

.seat-cell {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 36px;
  height: 100%;

  background-color: #E5E8E8;
  color: #000;
  font-weight: bold;
  font-size: 18px;

  border: 1px solid black;
}


/* 메뉴 링크 스타일 */

.header-nav a {
    background-color: #F4D03F;
    border: none;
    text-decoration: none;
    color: black;
    border-radius: 5px;
    display: inline-block;
    border-bottom-left-radius: 1;
    border-bottom-right-radius: 1;
    width: 145px;
    height: 60px;
    text-align: center;
    line-height: 60px;
    font-size: 20px;
    margin-right: 2px;
    /* transition: all 0.3s ease; */
    /* transform: perspective(1000px) rotateX(0deg); */
    /* transform-origin: top; */
}

/* 호버 시 끝이 말아지는 효과 */
.header-nav a:hover {
    /* transform: perspective(1000px) rotateX(15deg); */
    /* box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3); */
    background-color: #F7DC6F;
    z-index: 10;
    position: relative;
    color: #2c3e50;
    /* font-weight: 600; */
}

/* 활성 상태 (클릭 시) */
.header-nav a:active {
    /* transform: perspective(1000px) rotateX(25deg); */
    transition: all 0.1s ease;
    background-color: #FFD600;
}

/* 현재 페이지 표시 (선택적) */
.header-nav a.active {
    background-color: #E74C3C;
    color: white;
    transform: perspective(1000px) rotateX(-8deg);
    box-shadow: 0 8px 15px rgba(231, 76, 60, 0.4);
}
