.sidebarLeft {
  width: 70px;
  height: calc(100vh - 100px);
  background-color: #233142;
  padding: 2px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2px;
}

/* 버튼 대신 a 태그 스타일 */
.sidebarLeft a {
  background-color: #2C3E50;
  text-decoration: none;
  width: 100%;
  padding: 5px 0;
  color: white;
  font-size: 13px;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;

  cursor: pointer;
  transition: background-color 0.2s;
}

.sidebarLeft a:hover {
  background-color: #34495E;
}

.sidebarLeft a img {
  width: 32px;
  height: 32px;
}
