<th:block th:fragment="link">
  <link rel="stylesheet" th:href="@{/css/admin_header.css}" />
  <link rel="stylesheet" th:href="@{/css/admin_sidebar-left.css}" />
  <link rel="stylesheet" th:href="@{/css/admin_sidebar-right.css}" />
  <link rel="stylesheet" th:href="@{/css/seat_status.css}" />
  <link rel="stylesheet" th:href="@{/css/admin_user_list.css}" />
  <link rel="stylesheet" th:href="@{/css/admin_product_list.css}" />
  <link rel="stylesheet" th:href="@{/css/admin_modal.css}" />
  <link rel="stylesheet" th:href="@{/css/cancel_modal.css}" />
  <link rel="stylesheet" th:href="@{/css/sellcounter.css}" />
  <link rel="stylesheet" th:href="@{/css/admin_ticket.css}" />
  <link rel="stylesheet" th:href="@{/css/admin_usinguser.css}" />
</th:block>